@model GCTL.UI.Core.ViewModels.LoginPageViewModel

@{
    ViewData["Title"] = "Login Page";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="~/images/CoIcon.ico" />
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/FrontEnd/Login/css/style.css" rel="stylesheet" />

</head>
<body style="background-image: linear-gradient( 135deg, rgb(24, 42, 115) 0%, rgb(33, 138, 174) 69%, rgb(32, 167, 172) 89% )  !important; background-repeat: no-repeat; background-attachment: fixed;">
    <section class="ftco-section">
        <div class="container">
            <form asp-action="Login" asp-controller="Accounts">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-8">
                        <div class="wrap d-md-flex">
                            <div class="img" style="background-image: url(images/transport.jpg);">
                            </div>
                            <div class="login-wrap p-4 p-md-5">
                                <div class="d-flex">
                                    <div class="w-100">
                                        <h3 class="mb-4">Sign In</h3>
                                    </div>
                                    <div class="w-100">
                                        <p class="social-media d-flex justify-content-end">
                                            <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                            <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="name">Username</label>
                                    @Html.TextBoxFor(model => model.Username, new { @id = "txtusername", @class = "form-control", @placeholder = "Username" })

                                    @Html.ValidationMessageFor(model => model.Username)
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="password">Password</label>
                                    @Html.PasswordFor(model => model.Password, new { @id = "txtUserPassword", @class = "form-control", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
                                </div>
                                <div class="form-group d-md-flex">
                                    <div class="w-50 text-left">
                                        <label class="checkbox-wrap checkbox-primary mb-0">
                                            Remember Me
                                            <input type="checkbox" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="w-50 text-md-right">
                                        <a href="#">Forgot Password</a>
                                    </div>
                                </div>
                                <p class="text-center">Not a member? <a data-toggle="tab" href="#signup">Sign Up</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <script src="~/FrontEnd/Login/js/jquery.min.js"></script>
    <script src="~/FrontEnd/Login/js/popper.js"></script>
    <script src="~/FrontEnd/Login/js/bootstrap.min.js"></script>
    <script src="~/FrontEnd/Login/js/main.js"></script>

</body>
</html>




<style type="text/css">

</style>

@*<div class="row">
    <div class="offset-4 col-md-4">
    <div class="bg-white box-shadow">
    <form asp-action="Index">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
    <label asp-for="Username" class="control-label"></label>
    <input asp-for="Username" class="form-control" />
    <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="Password" class="control-label"></label>
    <input asp-for="Password" class="form-control" />
    <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
    <label class="form-check-label">
    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
    </label>
    </div>
    <div class="form-group">
    <input type="submit" value="Login" class="btn btn-primary" />
    </div>
    </form>
    </div>
    </div>
    </div>*@
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
