@model GCTL.Core.ViewModels.Employees.EmployeeSetupViewModel
@{
    ViewBag.Title = "Save Employee";
    Model.PageTitle = "Employees";
    Model.Breadcrumb = "Employee Info";
}

<!-- Content Header (Page header) -->
<section class="content-header" style="padding-bottom: 0;">
    <div class="container-fluid">
        <div class="calloutx callout-info" style="height: 30px;">
            <div class="row">
                <div class="col-md-8 row">
                    <ol class="breadcrumb float-sm-right">
                    </ol>
                </div>
                <div class="col-md-4">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Dashboard">Home</a></li>
                        <li class="breadcrumb-item"><a href="/Employees">Employee Info</a></li>
                        <li class="breadcrumb-item active">Employee Setup</li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <form asp-action="Setup" id="employee-form" enctype="multipart/form-data">
        <div class="container-fluid">
            <div class="form-group row">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-body">
                            <div style="padding-top: 10px;">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label asp-for="EmployeeID">Employee ID</label>
                                        <input asp-for="EmployeeID" class="form-control form-control-sm js-code" readonly="readonly" />
                                        <span asp-validation-for="EmployeeID" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-4">
                                        <label asp-for="FirstName"></label>
                                        <span class="text-danger">*</span>
                                        <input asp-for="FirstName" class="form-control form-control-sm js-check-availability" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-4">
                                        <label asp-for="LastName"></label>
                                        <span class="text-danger">*</span>
                                        <input asp-for="LastName" class="form-control form-control-sm js-check-availabilityx" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label asp-for="FatherName">Father's Name</label>
                                        <input asp-for="FatherName" class="form-control form-control-sm" />
                                        <span asp-validation-for="FatherName" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-4">
                                        <label asp-for="MotherName"> Mother's Name</label>
                                        <span class="text-danger"></span>
                                        <input asp-for="MotherName" class="form-control form-control-sm" />
                                        <span asp-validation-for="MotherName" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-4">
                                        <label asp-for="DateOfBirth"> Date Of Birth</label>
                                        <span class="text-danger"></span>
                                        <input asp-for="DateOfBirth" class="form-control form-control-sm datepicker" />
                                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label asp-for="SexCode"> Gender</label>
                                        <span class="text-danger"></span>
                                        <select asp-for="SexCode" class="form-control form-control-sm selectpicker" asp-items="@ViewBag.Sex as SelectList">
                                            <option value="">---- Select Gender----</option>
                                        </select>
                                        <span asp-validation-for="SexCode" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-4">
                                        <label asp-for="BloodGroupCode"> Blood Group</label>
                                        <span class="text-danger"></span>
                                        <select asp-for="BloodGroupCode" class="form-control form-control-sm selectpicker" asp-items="@ViewBag.BloodGroup as SelectList">
                                            <option>---- Select Blood----</option>
                                        </select>
                                        <span asp-validation-for="BloodGroupCode" class="text-danger" />
                                    </div>
                                    <div class="col-lg-4">
                                        <label asp-for="NationalIdNo"> National ID</label>
                                        <span class="text-danger"></span>
                                        <input asp-for="NationalIdNo" class="form-control form-control-sm" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label asp-for="ReligionCode"> Religion</label>
                                        <span class="text-danger"></span>
                                        <select asp-for="ReligionCode" class="form-control form-control-sm selectpicker" asp-items="@ViewBag.Religion as SelectList">
                                            <option>---- Select Religion----</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <label aasp-for="PresentAddress"> Address</label>
                                        <span class="text-danger"></span>
                                        <textarea asp-for="PresentAddress" class="form-control form-control-sm"></textarea>
                                    </div>

                                    <div class="col-lg-4">
                                        <label asp-for="MobileNo"> Mobile No.</label>
                                        <span class="text-danger"></span>
                                        <input asp-for="MobileNo" class="form-control form-control-sm" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label asp-for="Email">Email</label>
                                        <span class="text-danger"></span>
                                        <input asp-for="Email" class="form-control form-control-sm" />
                                        <span asp-validation-for="Email" class="text-danger" />
                                    </div>
                                    <div class="col-lg-4">
                                        <label asp-for="DesignationCode"> Designation</label>
                                        <span class="text-danger"></span>
                                        <div class="input-group">
                                            <select asp-for="DesignationCode" class="form-control form-control-sm selectpicker" asp-items="@ViewBag.Designation as SelectList">
                                                <option value="">---- Select Designation----</option>
                                            </select>
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-default js-quick-add input-group-textc"
                                                        data-url="@Url.Action("Index", "Designations")"
                                                        data-target="#DesignationCode"
                                                        data-reload-url="@Url.Action("GetDesignations", "Cascading")"
                                                        data-title="Designation">
                                                    +
                                                </button>
                                            </div>
                                        </div>
                                        <span asp-validation-for="DesignationCode" class="text-danger" />
                                    </div>
                                    <div class="col-lg-4">
                                        <label asp-for="DepartmentCode"> Department</label>
                                        <span class="text-danger"></span>
                                        <div class="input-group">
                                            <select asp-for="DepartmentCode" class="form-control form-control-sm selectpicker" asp-items="@ViewBag.Department as SelectList">
                                                <option value="">---- Select Department----</option>
                                            </select>
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-default js-quick-add input-group-textc"
                                                        data-url="@Url.Action("Index", "Departments")"
                                                        data-target="#DepartmentCode"
                                                        data-reload-url="@Url.Action("GetDepartments", "Cascading")"
                                                        data-title="Department">
                                                    +
                                                </button>
                                            </div>
                                        </div>
                                        <span asp-validation-for="DepartmentCode" class="text-danger" />
                                    </div>
                                </div>
                                <div class="form-group row mt-2">
                                    <div class="col-12">
                                        <a href='@Url.Action("Index")' class="btn btn-default btn-common btn-circle"><i class="fas fa-arrow-alt-circle-left">&nbsp;</i>Back To List</a>
                                        <button type="submit" value="Save" class="btn btn-default btn-common btn-circle float-right">
                                            <i class="fas fa-save"></i> Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="img-preview">
                                        <h3>Photo</h3>
                                        @if (String.IsNullOrEmpty(@Model.EmpPhoto))
                                        {
                                            <img id="photoPreview" class="img-fluid img-thumbnail img-rounded js-file-chooser" data-target="#Photo" src="@Url.Content("~/Images/Images.png")" />
                                        }
                                        else
                                        {
                                            <img id="photoPreview" class="img-fluid img-thumbnail img-rounded js-file-chooser" data-target="#Photo" src="@Url.Content("~/Uploads/Images/Employees/"+ @Model.EmpPhoto)" />
                                        }

                                        <input type="hidden" asp-for="IsClearImage" />
                                        <div class="form-group row">
                                            <button type="button" class="btn btn-secondary btn-circle js-file-chooser" data-target="#Photo">Bform-group rowse Photo</button>
                                            <button type="button" class="btn btn-danger btn-circle js-clear-file" data-file="#photoPreview" data-tag="#IsClearImage">Clear</button>
                                        </div>

                                        <div class="custom-file d-none">
                                            <input type="hidden" asp-for="EmpPhoto" />
                                            <input type="file" name="Photo" class="custom-file-input form-control form-control-sm js-file" data-target="#photoPreview" id="Photo">
                                            <label class="custom-file-label" for="Photo">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <partial name="_BottomNavigation" />
        </div>
    </form>
</section>
<partial name="DeleteModal" />
<partial name="QuickAddModal" />
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/pages/employees.js"></script>
    <script type="text/javascript">
        var options = {
            baseUrl: '@Url.Action("", "Employees")'
        };
        options.load = () => {
        };

        $.employees(options);
    </script>
    <script type="text/javascript">
        
        function ShowSignaturePreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgPreview').prop('src', e.target.result)
                        .width(150)
                        .height(150);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        function clearImage() {
            $("#imgPreview").removeAttr("src");
            $("#IsClearImage").val(true);
        }
    </script>
}

