@model List<GCTL.Core.ViewModels.HRMDefExamTitles.HRMDefExamTitlesSetupViewModel>

<table id="HRMDefExamTitles-grid" class="table table-striped  table-bordered table-sm table-hover table-common">

        <thead class="row-border">
            <tr class="table row-border">
                <th class="text-center text-middle">
                    Select <br /> <input type="checkbox" id="HRMDefExamTitles-check-all" />
                </th>
                <th class="text-center text-middle"> Id</th>
                <th class="text-center text-middle"> Exam Title Name</th>
                <th class="text-center text-middle">Short Name</th>

            </tr>
        </thead>
        <tbody>

            @if (Model == null || !Model.Any())
            {
                <tr class="text-center text-middle">
                    <td colspan="8">No  HRM Exam Title Available.</td>
                </tr>
            }
            else
            {
                @foreach (var item in Model.OrderByDescending(x => x.ExamTitleCode))
                {
                    <tr>
                        <td class="text-center">
                            <input type="checkbox" class="text-center text-middle checkBox" data-id="@item.ExamTitleCode" value="@item.ExamTitleCode" />
                        </td>
                        <td>
                            <a href="#" class='btn js-HRMDefExamTitles-edit'
                               style="text-decoration: underline; color: rebeccapurple;"
                               data-id="@item.ExamTitleCode" title="Edit">
                                @item.ExamTitleCode
                            </a>
                        </td>

                        <td class="text-center text-middle">@item.ExamTitleName</td>
                        <td class="text-center text-middle">@item.ShortName</td>


                    </tr>
                }
            }


        </tbody>
</table>
