@model GCTL.Core.ViewModels.BranchesTypeInfo.BranchTypeSetupViewModel

<div style="padding-top: 10px;">
    <div class="row">
        <div class="col-lg-6">
            <span id="message"></span>
        </div>
        <div class="col-lg-6">
        </div>
    </div>

    <div class="form-group row">   
       
        <input type="hidden" id="lastCode" />
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Ldate" />
        <input type="hidden" asp-for="ModifyDate" />
        <div class="col-lg-6">
            <label asp-for="CompanyCode"> Company</label>
            <span class="text-danger"></span>
            <div class="input-group">
                <select asp-for="CompanyCode" class="form-control form-control-sm selectpickercBranchesTypeInfo js-" asp-items="@ViewBag.CompanyCodeDD as SelectList">
                    <option value="">Select Company</option>
                </select>
                <div class="input-group-append">
                    <button type="button" class="btn btn-sm btn-default js-quick-add input-group-textc"
                            data-url="@Url.Action("Index", "Companies")"
                            data-target="#CompanyCode"
                            data-reload-url="@Url.Action("GetCompany", "Cascading")"
                            data-title="Company">
                        +
                    </button>
                </div>
            </div>
           @*  <span asp-validation-for="Company" class="text-danger" /> *@ 
        </div>
    </div>

    <div class="form-group row">       
        <div class="col-lg-6">
            <label asp-for="BranchCode">Branch Id</label>
            <input asp-for="BranchCode" class="form-control form-control-sm js-branchcode" readonly="readonly" />
           
        </div>
    </div>
  
    <div class="form-group row">
        <div class="col-lg-6">
            <label asp-for="BranchName">Branch </label>
            <span class="text-danger">*</span>
            <input asp-for="BranchName" class="form-control form-control-sm js-branch-check-availability" placeholder="Enter Branch " />
            <span asp-validation-for="BranchName" class="text-danger" />
        </div>
        <div class="col-lg-6">
            <label asp-for="Address">Address </label>
            <span class="text-danger">*</span>
            <textarea asp-for="Address" class="form-control form-control-sm" placeholder="Enter Address " rows="1"></textarea>
            <span asp-validation-for="Address" class="text-danger" />
        </div>
    </div>

    <div class="form-group row"> 
        <div class="col-lg-6">
            <label asp-for="BanglaBranch">Branch (বাংলা)</label>
            <input asp-for="BanglaBranch" type="text" class="form-control form-control-sm" placeholder="Enter Branch (বাংলা)" />
        </div>
        <div class="col-lg-6">
            <label asp-for="AddressBangla">Address (বাংলা)</label>
            <input asp-for="AddressBangla" type="text" style="width:100%" class="form-control form-control-sm" placeholder="Enter Address (বাংলা)" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-6">
            <label asp-for="Phone">Phone </label>
            <input asp-for="Phone" class="form-control form-control-sm phone-validationx" placeholder="Enter Phone " />
            <span asp-validation-for="Phone" class="text-danger" />
        </div>
        <div class="col-lg-6">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control form-control-sm" placeholder="Enter Email" />
            @* <span asp-validation-for="Email" class="text-danger" /> *@
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-6">
            <label asp-for="Fax">Fax</label>
            @* <span class="text-danger">*</span> *@
            <input asp-for="Fax" class="form-control form-control-sm" placeholder="Enter Fax" />
            
        </div>
    </div>
    @if (Model.Id > 0)
    {
        <hr />
        <div class="form-group row">
            <div class="col-lg-6">
                @if (Model.Ldate.HasValue)
                {
                    <label>Creation Date: </label>
                    <label>@Model.Ldate.Value.ToString(ApplicationConstants.DateFormat)</label>
                }
            </div>
            <div class="col-lg-6">
                @if (Model.ModifyDate.HasValue)
                {
                    <label>Last Update Date: </label>
                    <label>@Model.ModifyDate.Value.ToString(ApplicationConstants.DateFormat)</label>
                }
            </div>
        </div>
    }
</div>

<div class="row no-print" style="margin-top: 9px;">
    <div class="col-12">
        <button type="button" class="btn btn-default success-btn btn-common btn-circle float-right js-branch-save" data-id="@Model.BranchCode">
            <i class="fas fa-save"></i> Save
        </button>
    </div>
</div>

@* <div class="row no-print" style="margin-top: 9px;">
    <div class="col-12">
        <button class="btn btn-default success-btn btn-common btn-circle float-right js-branch-save" type="button">
            <i class="fas fa-save">&nbsp;</i> Save
        </button>
    </div>
</div> *@
